.Tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.select-dim-custom {
    width: 120px;
    height: 32px;
}

.select-middle-dim-custom {
    width: 114px;
    height: 32px;
}

.button-clear-custom {
    width: 32px;
    height: 32px;
}